{% extends "base.html" %}

{% block content %}
  
  {% if page.meta.audio %}
    <h3>{{ page.meta.parent }}</h3>
  {% endif %}

  {{ super() }}
  {% if page.meta.audio %}
    {% set audio_path = page.file.src_path | replace("lyrics/", "/audio/") | replace(".md", "") %}
    <div>
      <button onclick="document.getElementById('hiddenAudio').play();">
        🎵 Listen
      </button>
    </div>
    
    <audio id="hiddenAudio" controls style="display: none;">
      <source src="{{ audio_path }}.m4a" type="audio/mp4">
      <source src="{{ audio_path }}.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  {% endif %}

  {% if not page.meta.description %}
    <div style="margin-top: 10px;">
      <button onclick="history.back()" style="margin-bottom: 20px;">⬅ Back</button>
    </div>
    
  {% endif %}
  
{% endblock %}